{% load fa %}{% if page.paginator.num_pages > 1 %}
<nav class="pager-p" aria-label="صفحه‌ها">
  {% if page.has_previous %}<a href="?{{ base_qs }}{% if base_qs %}&{% endif %}{% if o %}o={{ o }}&{% endif %}page={{ page.previous_page_number }}">قبلی</a>{% endif %}
  <span>صفحهٔ {{ page.number|fa_num }} از {{ page.paginator.num_pages|fa_num }}</span>
  {% if page.has_next %}<a href="?{{ base_qs }}{% if base_qs %}&{% endif %}{% if o %}o={{ o }}&{% endif %}page={{ page.next_page_number }}">بعدی</a>{% endif %}
</nav>
{% endif %}
